body {
  overflow-x: hidden;
}

h1, h2 {
  line-height: 1;
}

p {
  font-weight: 600;
}

#section-nos h1 {
  font-size: 3.8em;
}

#section-servicos-2 .container {
  padding-bottom: 300px;
  padding-top: 150px;
}

#section-servicos-2 .container h2 {
  font-size: 4.6em;
}

#section-servicos-2 .container h3 {
  font-size: 3em;
}

#section-servicos-2 img {
  position: absolute;
  top: -350px;
  left: -50px;
}

#section-servicos .container {
  padding-bottom: 200px;
}

#section-servicos img {
  position: absolute;
  top: -190px;
  left: -50px;
}

#section-servicos-1 .container {
  padding-bottom: 200px;
}

#section-servicos-1 img {
  position: absolute;
  top: -250px;
  left: -100px;
}

#section-cta .container {
  padding: 100px 0;
}

#section-cta .container h2 {
  font-size: 4.6em;
}

#section-cta .container h3 {
  font-size: 3em;
}

#section-servicos .container h2 {
  font-size: 4.6em;
}

#section-servicos .container h3 {
  font-size: 3em;
}

#section-servicos-1 .container h2 {
  font-size: 4.6em;
}

#section-servicos-1 .container h3 {
  font-size: 3em;
}

#section-ecommerce .container h2 {
  font-size: 4.6em;
}

#section-ecommerce .container h3 {
  font-size: 3em;
}

#section-ecommerce .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

#section-ecommerce img {
  position: absolute;
  top: -200px;
  left: -50px;
}

#section-video .container h2 {
  font-size: 4.6em;
}

#section-video .container h3 {
  font-size: 3em;
}

#section-video {
  
}

.bg-light {
  background-color: #f2f4f9 !important;
}

.pb_icon-gradient:before {
  background: #7ec4d1;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #7ec4d1 0%, #27c2de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #7ec4d1 0%, #27c2de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, #7ec4d1 0%, #27c2de 100%);
  background: linear-gradient(45deg, #7ec4d1 0%, #27c2de 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pb_slant-light,
.pb_slant-green,
.pb_slant-blue,
.pb_slant-yellow,
.pb_slant-dark,
.pb_slant-white {
  position: relative;
}
.pb_slant-light:after,
.pb_slant-green:after,
.pb_slant-yellow:after,
.pb_slant-dark:after,
.pb_slant-blue:after,
.pb_slant-white:after {
  content: "";
  position: absolute;
  bottom: -230px;
  left: -50px;
  height: 320px;
  width: 130%;
  background-color: #f2f4f9;
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  z-index: 10;
}
.pb_slant-light.pb_slant-reverse:after,
.pb_slant-green.pb_slant-reverse:after,
.pb_slant-yellow.pb_slant-reverse:after,
.pb_slant-dark.pb_slant-reverse:after,
.pb_slant-blue.pb_slant-reverse:after,
.pb_slant-white.pb_slant-reverse:after {
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  left: -100px;
  bottom: -140px;
}

.pb_slant-white:after {
  background-color: #fff;
}

.pb_slant-green:after {
  background-color: #53f5b6;
}

.pb_slant-blue:after {
  background-color: #6a888f;
}

.pb_slant-yellow:after {
  background-color: #e9c559;
}

.pb_slant-dark:after {
  background-color: #353330;
}

.pb_section {
  padding: 10em 0;
}

.pb_cover_v3 a,
.pb_xl_py_cover a {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid transparent;
}
.pb_cover_v3 a:hover,
.pb_xl_py_cover a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.pb_cover_v3 .btn,
.pb_xl_py_cover .btn {
  color: white;
}


.pb_cover, .pb_cover_v1, .pb_cover_v2, .pb_cover_v3, .pb_cover_v4,
.pb_cover > .container > .row, .pb_cover_v1 > .container > .row, .pb_cover_v2 > .container > .row, .pb_cover_v3 > .container > .row, .pb_cover_v4 > .container > .row {
  height: auto;
}

.espaco-inicial:after {
  bottom: -170px;
}


/*  bora pro mobile, caralho  */

